
.err{
    margin-left: 10px;
}
.start{
    text-align: left;


}
.left{
    text-align: right;
}
.content{
    text-align: center;
}
#find{
    padding: 20px;
    background: black;
    color: #FFFFFF;
    text-align: left;
}

.photo{
    max-height: 80vh;
    max-width: 80vw;
}